<div id="model_container_<%= model.name %>" class="model_container">
        <div class="model_heading"><%= model.name %></div>
        <% model.columns.sort{|a, b| a.name <=> b.name}.each do |column| %>
				  <% col_style = column.name =~ /_id$/ ? 'font-weight:bold;' : '' %>
          <span style="<%= col_style %>"><%= column.name %> </span>&#160;(<%= column.type %>) 
          <br/>
        <% end %>
</div>
